<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerlinks}}
</head>

<body>
    <!-- ------------------navbar------------------------------- -->
    {{>navbar}}
    <!-- ------------------main header------------------ -->

   <div class="container-fluid main_header">
        <div class="row">
            <div class="clo-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/erorr.svg" alt="Puspender" class="img-fluid errimg" title="Puspender-kr" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Sorry Please try again</p>
                        <h1>
                            404 <span class="text_clr">ERORR</span> 
                        </h1>
                        <a href="/weather"><button>Check Weather</button></a>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------footer--------------------- -->
    {{>footer}}

    
</body>

</html>